# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env
.env.test
.env.production

# Build output
/dist
/build

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Miscellaneous
coverage/
*.tgz
*.bak
*.swp
